.list {
    display: flex;
    overflow-x: auto;
  }
  
  .item {
    width: 20%;
    height: 100px;
    margin-right: 10px;
    animation: add 0.5s forwards;
  }
  
  @keyframes add {
    from {
      margin-left: -100%;
      width: 0;
    }
    to {
      margin-left: 0;
      width: 20%;
    }
  }
  
  .remove {
    animation: remove 0.5s forwards;
  }
  
  @keyframes remove {
    to {
      margin-left: 100%;
      width: 0;
    }
  }
  